body {
  background-color: rgb(231, 224, 224);
}

.entire-page {
  display: flex;
  flex-direction: row;
}

.create-post-container {
  margin: 0 auto;
  padding: 20px;
  min-width: 450px;
  max-width: 700px;
}

.create-a-post {
  display: flex;
  justify-content: flex-start;
}

#line {
  
}

.post-details {
  border: black 1px solid;
  padding: 10px;
  margin-top: 20px;
}

.input-flex {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

#post-title {
  min-height: 30px;
  margin-bottom: 10px;
}

#post-text {
  min-height: 150px;
  margin-bottom: 10px;
}

.file-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#file-button {
  border-radius: 3em;
  border: none;
  min-width: 70px;
}

.post-button-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#post-button {
  border-radius: 3em;
  border: none;
  padding: 10px;
  min-width: 65px;
  font-weight: bold;
  background-color: #ff4500;
  color: white;
}

.rules-container {
  display: block;
  margin-right: 30px;
  background-color: white;
}

.rules-list {
  text-align: left;
}

@media screen and (max-width: 768px) {

}
