.ads-aside {
  position: absolute;
  right:0;

}
.ads {
  max-width: 300px;
  max-height: 600px;
  border-radius: 4px;
}
.community {
  max-width: 300px;
  max-height: 350px;
  background-color: rgb(208, 205, 200);
  border-radius: 7px;
  padding: 8px;
  margin: 8px;
}
.reddit-inc {
  background-color: rgb(208, 205, 200);
  max-height: 175px;
  max-width: 315px;
  display:inline-grid;
  grid-template-columns:  1fr 1fr;
  margin: 0%;
  border-radius: 4px;
}
a {
  text-decoration: none;
  color: black;
  font-size: small;
  display:inline-grid;
  margin: 10px;
}

.ads-container {
  background-color: rgb(168, 182, 195);
  padding: 8px;
  margin: 8px;
  border-radius: 7px;
}

p {
  margin: 2px;
  text-align: left;
  font-size: x-small;
}


@media screen and (max-width:1150px){
  .ads-aside{
    display: none;
  }
}