* {
  background-color: #dae0e6;
}

.trending-component {
  display: flex;
  background-color: white;
  height: 15rem;
  width: 100%;
  background-color: rgb(135 138 140 / 50%);
  margin-top: 4rem;
  /* margin-left: 14rem; */
  /* overflow: hidden; */
  border: 2px solid green;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
  margin-left: 1rem;
  padding-left: 5rem;
}

.trending-cards {
  height: 10.6rem;
  width: 13.875rem;
  background-color: red;
  /* margin-left: 10rem;
  margin-top: 2rem; */
  border-radius: 1rem;
  cursor: pointer;
}

.aside {
  background-color: white;
  height: 100vh;
  width: 18%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.main-container {
  height: 100vh;
  width: 100%;
  border: 2px solid black;
}

.posts {

}

.ads {

}