.home-container {
  width: 100vw;
  height: 100vh;
 display: grid;
 grid-template-columns: 70% 30%;
 grid-template-rows: 1fr;
}

.home-posts {
 grid-column: 1;
 display: flex;
 justify-content: center;
 align-items: center;
 
}

.home-ads {
grid-column: 2;
display: flex;
}

@media screen and (max-width:1350px){
  .home-container{
  height: 100vh;
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 1fr;
  }
}


