.user-pg {
  width: 100vw;
  margin: 3.5rem auto 1.5rem;
  padding: 1rem;
  color: #7e553c;
}

.user-nav {
 width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #af896a;
  background-color: #dcb895;
  padding-top: 1rem;
  cursor:pointer;
}


.user-tabs {
  border-radius: 4px;
  background-color: #7e553c;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 16px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.user-tabs {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.user-tabs:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.user-tabs:hover{
  padding-right: 24px;
  padding-left:8px;
}

.user-tabs:hover:after {
  opacity: 1;
  right: 10px;
}

.user-nav>* {
  margin: 0 15px;
  transform: translateY(-6px);

}

.user-nav li {
  list-style: none;
  text-align: center;
	color: black;
}


:root { 
background-color: #cad0d1;
};