.UserOverview-container {
  height: 100%;
  width: 100%;
}

.userO-headerimg {
  position: relative;
  height: 50vh;

}

.userO-bannerimg {
background: url(
  "https://d1csarkz8obe9u.cloudfront.net/posterpreviews/linkedin%2C-event-design-template-9ea8946b86bda7ca65cdbf18e7ab21b1_screen.jpg?ts=1593443473"
);
height: 200px;
width: 900;
/* aspect-ratio: 16/9; */
background-position: center;
background-size: cover;

}

.userO-profpic {
height: 150px;
width: 150px;
background: url("https://i.stack.imgur.com/l60Hf.png");
border: 4px solid #dcb895;
border-radius: 10px;
background-position: center;
background-size: cover;

}

.userO-profpic-container{
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.userO-profpic-container >p {
  font-size: 1rem;
}


.userO-info {
width: 10%;
height: 10%;
} 




.user-avatar {
  background-image: linear-gradient(90deg,#7e553c,#af896a, #af896a, #dcb895, #e6ccb4, #ede0d5);
  border-radius: 2rem;
}

.user-banner {
  background-image: linear-gradient(90deg, #7e553c,#af896a, #af896a, #dcb895, #e6ccb4, #ede0d5);
  border-radius: 2rem;
}

.all-links {
  background-color: red;
}
.user-banner {
  border-radius: 16px;
}


.user-avatar {
  border-radius: 16px;
}

.social-button {
  border-radius: 16px;
  height: 6vh;
  text-align: left;
  margin-right: 190px;
  margin-top: 40px;
}

.CAKE-DAY-TAG {
  font-size: 20px;
  font-weight: 900;
}

.KARMS-TAG {
  font-size: 20px;
  font-weight: 900;
}

.DATE-TAG {
  font-size: 15px;
}

.LIKES-TAG {
  font-size: 15px;
}
.post-button{
  width: 60vh;
  border-radius: 16px;
  background-color: blue;
  color: white;
  font-weight: 900;
  margin-top: 10px;
}

.userO-create {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-btn-container {
  display: flex;
  flex-direction: column;
}


