.comments-container{
  border: 1px solid black;
  margin: 0px 15px 15px 65px;
  max-width: 700px;
}


#post-comment-input{
  min-height: 135px;
}

#post-comment-input::placeholder {
  position: absolute;
}


#comment-button {
  border-radius: 20;
  padding-right: 10px;
  background-color:ff4500;
}

TextEditor{
  min-height: 200px;
}

.ql-container {
  height: 80% !important;
}