.single-post-container {
  box-sizing: border-box;
  border: 1px solid black;
  /* max-width: 46.875rem; */
  margin: 1.25rem 2.5rem;
  padding: 10px 10px;
  background-color: white;
  border-radius: 4px;
  }
  
  .vote-post-flexbox {
    display: flex;
    flex-direction: row;
  }
  
  .post-info-container {
    /* border: black 1px solid; */
    width: 800px;
    max-width: 100%;
    margin: 0px 15px 15px 15px;
  }
  
  #category-name {
    font-weight: bold;
    font-size: 13px;
    color: black;
  }
  
  .posted-by {
    text-align: left;
    color: grey;
    font-size: 12px;
  }
  
  .new-post-title {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 5px;
  }
  
  .new-post-body {
    font-size: 15px;
  }
  
  .vote-container{
    margin: 10px;
    max-width: 30px;
    max-height: 400px;
    color: black;
  }
  

.post-info-container {
  width: 50rem;
  max-width: 100%;
  margin: 0px 15px 15px 15px;
}