:root {
  --app-height-variable: 55px;
}

.App {
  text-align: center;
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );

  display: flex;
  padding-top: var(--app-height-variable);
}
