.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.nav-about {
  border: 1px solid rgba(100, 100, 100, 0.5);
  margin-right: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}
