.nav-container {
  height: fit-content;
  max-width: 100vw;
  /* border: 1px solid red; */
}
/* 
.nav-container * {
  border: 1px solid red;
} */

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-icons-container {
  border-left: 1px solid rgba(100, 100, 100, 0.25);
  border-right: 1px solid rgba(100, 100, 100, 0.25);
  padding-left: 15px;
  padding-right: 10px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  margin-right: 10px;
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none !important;
}

.smaller-input {
  font-size: 12px;
  padding: 2px 5px;
  margin-right: 5px;
}

.nav-toggler {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 75px;
  margin-right: 5px;
}

@media screen and (max-width: 576px) {
  .dropdown {
    position: absolute;
    top: 12px;
    right: 0;
  }
  .nav {
    flex-direction: column;
  }

  .nav * {
    margin-top: 3px;
  }

  .nav-icons-container {
    border: none;
    padding: 0;
    margin: 0;
  }
}

  @media screen and (min-width: 576px) {
  .nav-icons-container {
    margin-left: 15px;
  }
}
